---
import Card from "../components/Card.svelte";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.svelte";
import ComponentSelector from "../components/ComponentSelector.svelte";

const selected = Astro.url.searchParams.get("component");
---

<Layout>
  <Section title="Component Loader">
    <ComponentSelector client:load initialComponent={selected} />
  </Section>
</Layout>
