---
import Card from "../components/Card.svelte";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.svelte";
import ComponentSelector from "../components/ComponentSelector.svelte";

const selected = Astro.url.searchParams.get("component");
---

<Layout>
  <Section title="Simple Tools">
    <Card
      title="Unit Converter"
      description="Convert units of measurement"
      link="/unit-converter"
    />
    <Card
      title="Pomodoro Timer"
      description="A simple pomodoro timer"
      link="/pomodoro-timer"
    />
  </Section>

  <Section title="Calculators">
    <Card
      title="Asphalt Calculator"
      description="Calculate the amount of asphalt needed for a project"
      link="/asphalt-calculator"
    />
    <Card
      title="Area Calculator"
      description="Calculate the area of a shape"
      link="/area-calculator"
    />

    <Card
      title="Volume Calculator"
      description="Calculate the volume of a shape"
      link="/volume-calculator"
    />
  </Section>

  <Section title="Text Tools">
    <Card
      title="Text Comparer"
      description="Compare two texts and see the differences"
      link="/text-comparer"
    />
    <Card
      title="Lorem Ipsum Generator"
      description="Generate Lorem Ipsum text"
      link="/lorem-generator"
    />
  </Section>

  <Section title="Regex Tools">
    <Card
      title="Address Extractor"
      description="Extract and organize street addresses from any text"
      link="/address-extractor"
    />
    <Card
      title="Link Checker"
      description="Check URLs for broken links"
      link="/link-checker"
    />
  </Section>

  <Section title="Component Loader">
    <ComponentSelector client:load initialComponent={selected} />
  </Section>
</Layout>
