---
import Card from "../components/Card.svelte";
import Layout from "../layouts/Layout.astro";
import Section from "../components/Section.svelte";
---

<Layout>
	<Section title="Simple Tools">
		<Card
			title="Asphalt Calculator"
			description="Calculate the amount of asphalt needed for a project"
			link="/asphalt-calculator"
		/>
		<Card
			title="Area Calculator"
			description="Calculate the area of a shape"
			link="/area-calculator"
		/>
		<Card
			title="Unit Converter"
			description="Convert units of measurement"
			link="/unit-converter"
		/>
		<Card
			title="Volume Calculator"
			description="Calculate the volume of a shape"
			link="/volume-calculator"
		/>
	</Section>

	<Section title="Text Tools">
		<Card
			title="Text Diff"
			description="Compare two texts and see the differences"
			link="/text-diff"
		/>
		<!-- <Card title="Card 2" description="This is the second card" /> -->
		<!-- <Card title="Card 3" description="This is the third card" /> -->
		<!-- <Card title="Card 4" description="This is the fourth card" /> -->
	</Section>

	<Section title="Regex Tools">
		<Card
			title="Address Extractor"
			description="Extract and organize street addresses from any text"
			link="/address-extractor"
		/>
		<!-- <Card title="Card 2" description="This is the second card" /> -->
		<!-- <Card title="Card 3" description="This is the third card" /> -->
		<!-- <Card title="Card 4" description="This is the fourth card" /> -->
	</Section>
</Layout>
